body {
  margin: 0;
  background: #cc0000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  margin-top: 20px;
  color: white;
  border-radius: 8px;
  background: #6c8dd3;
  padding: 8px;
  border: none;
  width: 100%;
  height: 50px;
}

h2 {
  margin: 0;
  margin-top: 12px;
}

.pokedex-card {
  background: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  padding: 12px 12px;
}

.pokedex-description {
  text-align: center;
}

.nav {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

a {
  color: white;
}
